Repository datalinthq/datalint-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-python, format-rust

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: typecheck-python
        name: Typecheck Python
        entry: make pyright
        types: [python]
        language: system
        pass_filenames: false
      - id: format-rust
        name: Format Rust
        entry: make format
        types: [rust]
        language: system
        pass_filenames: false

feap: minimum cache creation
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  python/datalint_core/__init__.py
  python/datalint_core/__pycache__/__init__.cpython-312.pyc
  python/datalint_core/_datalint_core.pyi
  src/cache.rs
  src/errors.rs
  src/format/common.rs
  src/format/detector.rs
  src/format/mod.rs
  src/format/types.rs
  src/format/validator.rs
  src/lib.rs
  src/py/dataset.rs
  src/py/mod.rs
  src/utils/fs.rs
  src/utils/mod.rs
Due: typecheck-python, format-rust

feat: added dataset enums
  python/datalint_core/__init__.py
  python/datalint_core/__pycache__/__init__.cpython-312.pyc
  python/datalint_core/_datalint_core.pyi
  src/enums.rs
  src/lib.rs
Due: typecheck-python, format-rust

feat: added new params
  python/datalint_core/_datalint_core.pyi
  src/cache.rs
  src/lib.rs
Due: format-rust

feat: added cache db structure creation
  .gitignore
  .idea/datalint-core.iml
  Cargo.lock
  Cargo.toml
  Makefile
  migrations/001_initial.sql
  src/cache.rs
  src/db/database.rs
  src/db/mod.rs
  src/db/models.rs
  src/db/queries/bboxes.rs
  src/db/queries/images.rs
  src/db/queries/labels.rs
  src/db/queries/mod.rs
  src/db/schema.rs
  src/errors.rs
  src/lib.rs
Due: format-rust

fix: on cascade deletion duckdb
  Cargo.toml
  migrations/001_initial.sql
  pyproject.toml
  src/db/database.rs
  src/lib.rs
Due: format-rust

fix: clean makefile
  Makefile
  src/db/database.rs
  src/lib.rs
Due: format-rust

refactor: cleaned the codebase
  .github/workflows/CI.yml
  Cargo.toml
  src/cache.rs
  src/db/database.rs
  src/db/queries/bboxes.rs
  src/db/queries/images.rs
  src/db/queries/labels.rs
  src/enums.rs
  src/lib.rs
Due: format-rust

feat: added build.rs
  build.rs
Due: format-rust

fix: ci errors
  .github/workflows/CI.yml
  .pre-commit-config.yaml
  build.rs
  pyproject.toml
  tests/__init__.py
  tests/test_wheel.py
  uv.lock
Due: typecheck-python, format-rust

fix: removed ascii chars in wheels tests
  tests/test_wheel.py
Due: typecheck-python

fix: CI error for tests
  .github/workflows/CI.yml
Due: none

fix: added sscache
  .github/workflows/CI.yml
Due: none

fix: ci with cibuildwheels
  .github/workflows/CI.yml
Due: none

fix: pyO3 import
  .idea/.gitignore
  .idea/datalint-core.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  python/datalint_core/__pycache__/__init__.cpython-312.pyc
  src/lib.rs
  tests/test_wheel.py
Due: typecheck-python, format-rust

fix: Cargo.toml include
  Cargo.toml
Due: none

fix: _datalint_core statement
  .github/workflows/CI.yml
  Cargo.toml
  python/datalint_core/__init__.py
Due: typecheck-python

fix: configuration of the CI interpreters
  .github/workflows/CI.yml
  Cargo.toml
  src/lib.rs
Due: format-rust

fix: bumped lowest version to 3.9
  .github/workflows/CI.yml
  pyproject.toml
Due: none

fix: added missing python versions in macos
  .github/workflows/CI.yml
Due: none

feat: bumped package version to v0.1.1
  Cargo.lock
  Cargo.toml
Due: none

feat: added image scan
  Cargo.lock
  Cargo.toml
  migrations/001_initial.sql
  python/datalint_core/_datalint_core.pyi
  src/cache.rs
  src/db/database.rs
  src/db/models.rs
  src/db/queries/images.rs
  src/db/schema.rs
  src/errors.rs
  src/lib.rs
  src/scanner.rs
  uv.lock
Due: format-rust

feat: re-ordered column order
  migrations/001_initial.sql
  src/db/models.rs
  src/db/queries/images.rs
  src/scanner.rs
Due: format-rust

feat: added new name column
  migrations/001_initial.sql
  src/db/models.rs
  src/db/queries/images.rs
  src/scanner.rs
Due: format-rust

feat: added smarter split detection
  src/scanner.rs
Due: format-rust
